[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/implot"]
	path = External/implot
	url = https://github.com/epezent/implot.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/Feather"]
	path = External/Feather
	url = https://github.com/dunyazad/Feather.git
	branch = ENTT
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/eigen"]
	path = External/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "External/imnodes"]
	path = External/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "External/gvdb-voxels"]
	path = External/gvdb-voxels
	url = https://github.com/dunyazad/gvdb-voxels.git
